{% extends 'share/layout.twig' %}

{% block title %}The Football Spot{% endblock %}

{% block content %}
{% for article in articles %}
<div class="article">
  <h3><a href="{{ article.url }}" target="_blank">{{ article.title|e }}</a></h3>
  {% if article.primary_image_url %}
    <img class="thumbnail" src="{{ article.rsz_url }}?width=50&aspect=1">
  {% endif %}
  </p>
  <p>
    <span class="published_at">{{ article.published_at }}</span>
    <img src="http://www.google.com/s2/favicons?domain={{ article.site_url }}">
    <span class="site_title"><a href="{{ article.site_url}}", target="_blank">{{ article.site_title }}</a></span>
  </p>
</div>
{% endfor %}
{% endblock %}
