{% if accordion %}
<div class="media card-header" id="heading{{ loop.index }}" data-toggle="collapse" data-target="#collapse{{ loop.index }}" aria-expanded="true" aria-controls="collapse{{ loop.index }}">
{% else %}
<div class="media card-header">
{% endif %}
  <img class="align-self-center mr-3 rounded news-img" src="{{ article.thumbnail_url }}" alt="{{ similar_article.title|e }}の代表サムネイル">
  <div class="align-self-center media-body">
    <h3 class="mt-0"><a href="{{ article.url }}" target="_blank">{{ article.title|e }}</a></h3>
    <p class="mb-0">
      <img class="align-middle rounded favicon" src="https://www.google.com/s2/favicons?domain={{ article.site_url }}" alt="{{ similar_article.site_title|e }}のfavicon">
      <span class="site_title align-middle"><a href="{{ article.site_url}}" target="_blank">{{ article.site_title }}</a></span>
      <span class="published_at align-middle">{{ article.published_at|date("m/d/Y H:i", "Asia/Tokyo") }}</span>
    </p>
  </div>
</div>
